{% include 'header.html' %}
<div class="main-content">
    <div class="mi-cuenta">
        <h2>Editar Datos de Mi Cuenta</h2>
        
        <!-- Formulario para editar los datos -->
        <div class="formulario-editar">
            <form action="{{ url_for('editar_cuenta') }}" method="POST">
                <label for="email">Email *</label>
                <input type="email" id="email" name="email" value="{{ cliente['email'] }}">

                <label for="nombres">Nombre *</label>
                <input type="text" id="nombres" name="nombres" value="{{ cliente['nombres'] }}">

                <label for="apellidos">Apellido *</label>
                <input type="text" id="apellidos" name="apellidos" value="{{ cliente['apellidos'] }}">

                <label for="telefono">Teléfono *</label>
                <input type="text" id="telefono" name="telefono" value="{{ cliente['telefono'] }}">

                <label for="usuario">Usuario *</label>
                <input type="text" id="usuario" name="usuario" value="{{ cliente['usuario'] }}" >
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <div class="flashes">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} mt-3 mb-3">{{ message }}</div>
                    {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}
                <button type="submit" class="volver-inicio">Guardar Cambios</button>
            </form>
        </div>
    </div>
</div>
{% include 'footer.html' %}